body{
    min-height: 100vh;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.container{

    min-width: 30%;
}
.container__btn{
    background-color: white;
    padding: 12px 10px;
    margin: 10px 10px;
    border-radius: 50px;
    min-width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__content{
    color: rgb(179, 178, 178);
    margin-left: 10%;
}
.container__switch-violet{
    background: linear-gradient(to right, #9015eb, #b66cf0);
    border-radius: 50px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    min-width: 56px;
    text-align:center;
}
.container__switch-red{
    background: linear-gradient(to right, #ec3874, #f077a0);
    border-radius: 50px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    min-width: 56px;
    text-align:center;
}
.container__switch-cyan{
    background: linear-gradient(to right, #32d8eb, #74deea);
    border-radius: 50px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    min-width: 56px;
    text-align:center;
}
.container__switch-violet:hover{
    opacity: 0.8;
    cursor: pointer;
    position:relative;
    bottom: 5px;

}
.container__switch-red:hover{
    opacity: 0.8;
    cursor: pointer;
    position:relative;
    bottom: 5px;

}
.container__switch-cyan:hover{
    opacity: 0.8;
    cursor: pointer;
    position:relative;
    bottom: 5px;

}
